:root {
    --Header-footer-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
    --Body-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
}

@media screen {
    body {
        margin-left: 13%;
        margin-right: 13%;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.07em /* TODO:add font size*/;
}

body {
    font-family: var(--Body-font);
    background-color: gray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/Testbackground.png);
    background-size: cover;
}

.header {
    font-family: var(--Header-footer-font);
    background-color: rgba(0, 0, 0, 0.699);
    color: #fff;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    min-height: 5vh;
}

.header h1 {
    flex-basis: 50%;
    align-self: center;
    margin-left: 15px;
}

.header nav {
    flex-basis: 100%;
    flex-wrap: wrap;
    align-self: flex-end;
    padding: 2% 0% 2% 0%;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header nav ul a {
    color: inherit;
    text-decoration: inherit;
    border-bottom: 1px solid;
    padding-bottom: 1px;
}
.header nav ul li {
    margin: 0px 5px;
}

#recent-photo {
    flex-basis: 150px;
    min-width: 10px;
    flex-shrink: 1; /* TODO: */
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    background-color: rgba(0, 0, 0, 0.699);
    padding: 5%;
    margin: 0% 2% 0% 2%;
    color: #fff;
    max-width: 100%;
}

.footer {
    font-family: var(--Header-footer-font);
    display: flex;
    background-color: #13293d;
    color: #fff;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    background: rgba(0, 0, 0, 0.699);
    min-height: 5vh;
}

.about-me-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.about-me-card p {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

.current-projects-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.About-me-card h2,
.current-projects-card h2 {
    display: flex;
    font-style: italic;
    align-items: center;
}

.large-image-card,
.large-image-card a {
    display: flex;
    flex-basis: 100%;
    min-width: 5%;
    flex: 1 1 auto;
    /* align-items: center; */
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.large-image {
    display: flex;
    flex-basis: 100%;
    align-self: center;
    padding: 2%;
    justify-content: center;
    min-width: 10%;
}
.large-image-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #13293db6;
}
.large-image-card,
.large-image-card a,
.large-image {
    max-width: 100%;

}


.image-card,
.image-card a {
    display: flex;
    min-width: 10%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.image-card-projects {
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-between;
    min-width: 10%;
}


.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contact-me h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/* .contact-me-content {
    display: flex;
    flex-direction: column;
} */

h2 {
    display: flex;
    position: relative;
    white-space: nowrap;
    padding: 2%;
    margin-right: 2%;
}

h2::before,
h2::after {
    display: flex;
    content: "";
    position: absolute;
    border-style: solid;
    border-color: yellow;
    border-width: 0 2px 2px 0;
}

h2:before {
    top: 50%;
    left: -10%;
    width: 10%;
    height: 50%;
    transform: rotate(90deg) translateY(-50%);
}

h2:after {
    bottom: 50%;
    right: -10%;
    width: 10%;
    height: 50%;
    transform: rotate(-90deg) translateY(-50%);
}

@media screen and (max-width: 1200px) {
    * {
        font-size: 1.05em; /* TODO:  */
    }
}

@media screen and (max-width: 1000px) {
    * {
        font-size: 1.02em; /* TODO:  */
    }
}

@media screen and (max-width: 700px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
    * {
        font-size: 1em; /* TODO:  */
    }
}
@media screen and (max-width: 560px) {
    * {
        font-size: 0.98em; /* TODO:  */
    }
}
@media screen and (max-width: 460px) {
    * {
        font-size: 0.96em; /* TODO:  */
    }
}

@media screen and (max-width: 380px) {
    * {
        font-size: 0.94em; /* TODO: */
    }
}
