/* COMMENT:Root and Initial Elements */
:root {
    --Header-footer-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
    --Body-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
}

@media screen {
    body {
        margin: 5% 25%;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.05em;
}

/* COMMENT:Body */
body {
    font-family: var(--Body-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/background.png);
    background-size: 120em;
}

/* COMMENT:Header with Recent Photo */
.header {
    font-family: var(--Header-footer-font);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    min-height: 5vh;
}

.header h1 {
    flex-basis: 50%;
    align-self: center;
    margin-left: 15px;
}

#recent-photo {
    flex-basis: 30%;
    align-self: left;
    justify-content: center;
    max-width: 30%;
    margin: 2% 2% 2% 2%;
}

/* COMMENT:Header Nav */
.header nav {
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 2% 0% 2% 0%;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.header nav ul a {
    color: inherit;
    margin: 2em;
}

/* COMMENT:Main */
.main {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5%;
    margin: 0% 2% 0% 2%;
    color: #fff;
    max-width: 100%;
}

/* COMMENT:About Me Card */
.about-me-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.About-me-card h2 {
    display: flex;
    font-style: italic;
    align-items: center;
}

.about-me-card p {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

/* COMMENT:Current Projects Card and Title */
.current-projects-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-style: italic;
    align-items: center;
}

/* COMMENT:Large image card with <a>, image, and <p> */
.large-image-card {
    display: flex;
    min-width: 100%;
    flex: 1 1;
    align-self: center;
    justify-content: center;
    position: relative;
    padding: 2%;
}

.large-image-card a {
    display: flex;
    flex: 1 1;
    position: relative;
}

.large-image {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
}

.large-image-card p {
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    flex: 0 2;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

/* COMMENT:Rows of smaller projects  */
.image-card {
    display: flex;
    min-width: 50%;
    max-width: 100%;
    flex: 1 1;
    align-self: center;
    justify-content: center;
    position: relative;
    padding: 2%;
}

.image-card a {
    display: flex;
    flex: 1 1;
    align-self: center;
    justify-content: center;
    position: relative;
}

.image-card-projects {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
}

.image-card p {
    display: flex;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 0.75em;
    background-color: rgba(0, 0, 0, 0.8);
    flex: 0 2;
    white-space: nowrap;
}

/* COMMENT:Contact Me Section Header */
.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0em;
}

.contact-me h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* COMMENT:Contact Me Content */
.contact-me-card {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.contact-me-card a {
    color: inherit;
}

.contact-me-card p {
    display: flex;
    padding: 1em;
}

/* COMMENT:Footer Section*/
.footer {
    font-family: var(--Header-footer-font);
    display: flex;
    background-color: #13293d;
    color: #fff;
    padding: 1%;
    flex-wrap: wrap;
    margin: 2%;
    background: rgba(0, 0, 0, 0.8);
    min-height: 5vh;
}

.footer h3 {
    display: flex;
    flex-basis: 100%;
    padding: 2% 0% 0% 2%;
    font-style: italic;
}

.footer p {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5%;
    justify-content: center;
}

/* COMMENT:Unique Styles and requirements for Title Borders */
h2 {
    display: flex;
    position: relative;
    white-space: nowrap;
    padding: 2%;
    margin-right: 2%;
}

h2::before,
h2::after {
    display: flex;
    content: "";
    position: absolute;
    border-style: solid;
    border-color: yellow;
    border-width: 0 0.2em 0.2em 0;
}

h2:before {
    top: 50%;
    left: -10%;
    width: 10%;
    height: 50%;
    transform: rotate(90deg) translateY(-50%);
}

h2:after {
    bottom: 50%;
    right: -10%;
    width: 10%;
    height: 50%;
    transform: rotate(-90deg) translateY(-50%);
}

/* COMMENT:Adjustments for various viewports*/
@media screen and (min-width: 2500px) {
    body {
        margin: 5% 25%;
    }
    * {
        font-size: 1.125em;
    }
}

@media screen and (max-width: 1400px) {
    body {
        margin: 5% 20%;
    }
}

@media screen and (max-width: 1200px) {
    body {
        margin: 5% 15%;
    }
}

@media screen and (max-width: 1000px) {
    * {
        font-size: 1.02em;
    }
}

@media screen and (max-width: 750px) {
    body {
        margin: 0% 0%;
    }
    * {
        font-size: 1em;
    }
}
@media screen and (max-width: 560px) {
    * {
        font-size: 0.98em;
    }
}
@media screen and (max-width: 460px) {
    * {
        font-size: 0.96em;
    }
}

@media screen and (max-width: 380px) {
    * {
        font-size: 0.94em;
    }
}
