:root {
    --Header-footer-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
    --Body-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
}

@media screen {
    body {
        margin-left: 13%;
        margin-right: 13%;
        font-size: medium;
    }
}

@media screen and (max-width: 650px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 560px) {
    * {
        font-size: small;
    }
    .img {
        transform: scale(0.75);
    }
}

@media screen and (max-width: 380px) {
    * {
        font-size: x-small;
    }
    .img {
        transform: scale(0.5);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--Body-font);
    background-color: gray;
    font-size: medium;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/pexels-markus-spiske-1921326.jpg);
    /* 
    https://www.pexels.com/photo/display-coding-programming-development-1921326/ 
    https://www.pexels.com/@markusspiske/
    */
    background-size: cover;
}

.header {
    font-family: var(--Header-footer-font);
    background-color: rgba(0, 0, 0, 0.699);
    color: #fff;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    min-height: 5vh;
}

.header.img {
}

.header h1 {
    flex-basis: 50%;
    align-self: center;
    margin-left: 15px;
}

.header nav {
    flex-basis: 100%;
    flex-wrap: wrap;
    align-self: flex-end;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: large;
}
.header nav ul a {
    color: inherit;
    text-decoration: inherit;
    border-bottom: 1px solid;
    padding-bottom: 1px;
}
.header nav ul li {
    margin: 0px 5px;
}

#recent-photo {
    flex-basis: 150px;
    min-width: 10px;
    flex-shrink: 1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 auto;
    background-color: rgba(0, 0, 0, 0.699);
    padding: 5%;
    margin: 0% 2% 0% 2%;
    color: #fff;
}

.footer {
    font-family: var(--Header-footer-font);
    display: flex;
    background-color: #13293d;
    color: #fff;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    background: rgba(0, 0, 0, 0.699);
    min-height: 5vh;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    flex-basis: 100%;
}

article p {
    margin: 1%;
    flex-basis: 100%;
}

.article-title {
    font-style: italic;
}

.article-img {
    flex-basis: 150px;
    align-self: flex-start;
    min-width: 10px;
    flex-shrink: 1;
}

h2 {
    display: flex;
    position: relative;
    white-space: nowrap;
    padding: 2%;
    margin-right: 2%;
    flex-basis: 300px;
    flex: 1 1 auto;
}

h2::before,
h2::after {
    display: flex;
    content: "";
    position: absolute;
    border-style: solid;
    border-color: yellow;
    border-width: 0 2px 2px 0;
}

h2:before {
    top: 50%;
    left: -10%;
    width: 10%;
    height: 50%;
    transform: rotate(90deg) translateY(-50%);
}

h2:after {
    bottom: 50%;
    right: -10%;
    width: 10%;
    height: 50%;
    transform: rotate(-90deg) translateY(-50%);
}
article p {
    /* margin: 5%; */
}
